body {
  margin: 0;

  background: #bfcae4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e5f0e7,
    #08a1a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e1ebe3,
    #08a1a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
